body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}

h1, h2, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}

input, button, textarea,
select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
	*font-size: 100%;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
body{
	font:12px;
}
.list_city {
	position:absolute;
	z-index: 120; overflow: hidden; -moz-box-shadow: 2px 2px 5px rgb(51, 51, 51); width: 222px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #7F9DB9;
    margin: 0;
    min-height: 305px;
    padding: 0 0 4px;
    text-align: left;
    width: 220px;
	-moz-box-shadow: 2px 2px 5px rgb(51, 51, 51);
	-webkit-box-shadow: 2px 2px 5px rgb(51, 51, 51);
}
.list_city .list_city_head{
	background-color: #67A1E2;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-family: Simyou;
    line-height: 20px;
    padding: 2px 0 2px 9px;
    width: auto;
    word-wrap: break-word;
}
.list_city .list_city_head .msg{
	color:red;
}
.list_city .list_city_container{
	 margin: 0;
    min-height: 257px;
    padding: 0;
	height:257px;
}

.list_city .list_city_container a{
	border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #0055AA;
    cursor: pointer;
    display: block;
    height: 22px;
    line-height: 22px;
    min-height: 22px;
    overflow: hidden;
    padding: 1px 9px 0;
    text-align: left;
    text-decoration: none;
	 height: 22px;
    display: block;
}
.list_city .list_city_container a b{
	font-weight:normal;
}
.list_city .list_city_container a:hover{
	background: none repeat scroll 0 0 #E8F4FF;
    border-bottom: 1px solid #7F9DB9;
    border-top: 1px solid #7F9DB9;
}
.list_city .list_city_container span{
	float: right;
    font: 10px/22px verdana;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
    white-space: nowrap;
    width: 110px;
}
.list_city  .selected{
	background: none repeat scroll 0 0 #FFE6A6;
    color: #FFFFFF;
    height: 22px
}

.list_city .page_break {    
    line-height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.list_city .page_break a {
    color: #0055AA;
    font-family: Arial,Simsun,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0 4px;
    text-decoration: underline;
}
.list_city .page_break .current{
	color: #000000;
    text-decoration: none;
}
.pop_city{
	position: absolute;
	z-index: 9;
	width: 360px;	
	font-size: 12px;
	border: 1px solid #B2DFFF;
	background-color: #FFFFFF;	
	-moz-box-shadow: 2px 2px 5px rgb(51, 51, 51);
	-webkit-box-shadow: 2px 2px 5px rgb(51, 51, 51);
}
.pop_city .pop_head{
	background-color: #67A1E2;
    border-color: #2C7ECF;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #CEE3FC;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
	color: #FFFFFF;
}
.pop_city .list_label{
	list-style: none;
	border-bottom: 1px #5DA9E2 solid;
	padding-bottom: 24px;
	padding-left:4px;
	margin-top:15px;margin-bottom:10px;
}
.pop_city .list_label li {		 
    float:left;
	margin-left: 8px;
    height:24px;line-height:24px;
}
.pop_city .list_label li a{
	color: #005DAA;
    ursor: pointer;
	text-decoration: none;
	background: #fff;		
	padding: 0px 4px;	
}
.pop_city .list_label li a:hover{
	color: #005D00;

}
.pop_city .list_label li a.current{
	color:#666666;
    display:block;
	background:#FFF;
	border: 1px #5DA9E2 solid;
	border-bottom:1px solid #fff;
	padding: 0px 4px ;
	font-weight:bold;
}
.pop_city .pop_city_container{
	padding:4px;margin-bottom:20px;	
}
.pop_city .pop_city_container ul{
	
}
.pop_city .pop_city_container ul li{
	width:18%;float:left;margin-right:3px;	
}
.pop_city .pop_city_container ul li a{
	 color: #000000;
    display: block;
    height: 22px;
    line-height: 22px;
	text-decoration:none;
	border: 1px solid #fff;
	padding:2px 0px;
}
.pop_city .pop_city_container ul li a:hover{		
	background-color: #E8F4FF;
   border: 1px solid #ACCCEF;
}
